.env
.user.ini
**/*/.DS_Store
uploads/store_logo/*
script/vendor
booostr.club
booostr.club/
!script/vendor/omnipay/stripe/
!script/vendor/bumbummen99/
uploads
*.tar.gz
*.sql
.env.save
package-lock.json
adminer*
