@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    margin:0;
    padding:0;font-family: 'Open Sans', sans-serif;}
    .checkout-main h1 {
      text-align: center;
      margin-bottom: 40px;
      font-family: 'Arvo', serif;
      font-weight: 700;
      font-size: 40px;
      color: #00c0ff;
  }
  .checkout-form h3 {
    color: #00c0ff;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Arvo', serif;
}
    * {
      box-sizing: border-box;
    }
    
    .checkout-main .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap;
      margin: 0 -16px;
    }
    
    .checkout-main .col-25 {
      -ms-flex: 25%; 
      flex: 25%;
    }
    .checkout-main .col-35 {
      -ms-flex: 35%; 
      flex: 35%;
    }
    
    .checkout-main .col-50 {
      -ms-flex: 50%; 
      flex: 50%;
    }
    .checkout-main .col-100 {
      -ms-flex: 100%; 
      flex: 100%;
    }
    
    .checkout-main .col-75 {
      -ms-flex: 75%; 
      flex: 75%;
    }
    .checkout-main .col-65 {
      -ms-flex: 65%; 
      flex: 65%;
    }
    .checkout-main .col-35,
    .checkout-main .col-25,
    .checkout-main .col-50,
    .checkout-main .col-75,
    .checkout-main .col-65,
    .checkout-main .col-100 {
      padding: 0 16px;
    }
    
    .checkout-main .container {
      background-color: #f2f2f2 !important;
      padding: 15px 30px 20px 30px;
      border: 1px solid lightgrey !important;
      border-radius: 3px;
      box-shadow:unset !important;
    }
    
    .checkout-main input[type=text] {
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    
    .checkout-main label {
      margin-bottom: 10px;
      display: block;
    }
    
    .checkout-main .icon-container {
      margin-bottom: 20px;
      padding: 7px 0;
      font-size: 24px;
    }
    
    .checkout-main .btn {
      background-color: #00c0ff;
      color: white;
      padding: 12px;
      margin: 10px 0;
      border: none;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      font-size: 17px;
      border-radius: 6px!important;
  }
    
    .checkout-main .btn:hover {
      background-color: #45a049;
    }
    
    .carts-right p a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        padding-right: 10px;
    }
    
    .checkout-main hr {
      border: 1px solid lightgrey;
    }
    
    .checkout-main span.price {
      float: right;
      color: grey;
    }
    .checkout-container {
        padding: 0 15px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .custom-control {
        position: relative;
        padding-left: 30px;
    }
    .custom-control input {
        position: absolute;
        left: 0;
        top: 1px;
    }
    .carts-right p {
        margin: 0 0 1px 0;
        padding: 10px 30px;
        background: #ffffff8c;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mains-nn {
        margin-bottom: 22px;
    }
    section.checkout-main {
        padding: 100px 0;
    }
    
    .carts-right p a img {
        width: 50px;
        margin-right: 10px;
    }
    .shop.checkout .form .form-group {
      margin-bottom: 2px;
    }
    .shop.checkout .form .form-group label i{
      margin-right: 8px;
    }
    .shop.checkout .order-details,.shop.checkout .checkout-form{margin-top: 0;}
    .payment-input{
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
      background:#F6F7FB;
    }
    body .shop.checkout .single-widget h2:before {
           background: #00c0ff;
  }
  .topbar-area .container {
    padding-bottom: 15px;
}
footer.container {
  padding-bottom: 0!important;
  padding-top: 24px;
}
footer.container  a {
  color: black;
  transition: al .3s;
}
footer.container  a:hover {
  color: #00c0ff;
}
body .scroll-top {
  background: #00c0ff;
 
}
body .button .btn::before,
body a.scroll-top.btn-hover:hover {
  background-color: #0fbaf3;
}
body .checkout-main .btn:hover {
  background-color: #0baee3;
}


.shop.checkout .form .form-group.error input, .shop.checkout .form .form-group.error textarea, .shop.checkout .form .form-group.error .nice-select {
  border: 1px solid red;
}

    /* Responsive layout */
    @media (max-width: 800px) {
      .checkout-main .row {
        flex-direction: column-reverse;
      }
      .checkout-main .col-25,
     .checkout-main .col-35  {
        margin-bottom: 20px;
      }
    }