label.custom-label {
    border: 3px dotted #e0e2f0;
    padding: 50px 0px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

label.custom-label i {
    font-size: 40px;
}


.input-with-icon i {
    position: absolute;
    padding: 14px 8px 5px;
    color:#495057;
}
/*  */

/********** Custom Css ************/

.text-grey{
	color:#858585;
}
